<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{!-- Fonts --}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" rel="stylesheet">

        {{!-- Styles --}}
        <link rel="stylesheet" href="./css/main">
        <link rel="stylesheet" href="./css/user">

        <title>{{ title }}</title>
    </head>
    <body>
        {{{ body }}}

        {{!-- Font Awesome icons --}}
        <script src="https://kit.fontawesome.com/71cd515681.js" crossorigin="anonymous"></script>

        <script type="module" src="js/validations.js"></script>
        <script type="module" src="js/regex.js"></script>
        <script type="module" src="js/utilities.js"></script>
    </body>
</html>