<body class="error">
    <div class="container p-5 ">
        <div class="opaque text-center">
            <h1>Error 404</h1>
            <h5>The place you seek does not exist, turn back while you can</h5> 
        </div> 
    </div>  
</body>
