<main>
    {{>title}}
    {{>mainForm}}
    <section id="user_reservations">
        <div class="reservation_link">
            <div class="subtitle_group" id="subtitle">
                <center><h2>¿Already have a reservation? check it here</h2></center>
            </div>
            <div class="check_reservations">
                <a class="link" href="./user-reservations">Check reservations</a>
            </div>
        </div>
    </section>
</main>

<script type="module" src="js/indexPage.js"></script>    
