<main id="Reservation_main">
    {{>title}}
    <section id="sub_title">
        <center><h2>Enter rut to see your reservations</h2></center>
    </section>
    <section id="Reservation_form" class="form_section">
        <form action="#" class="form_reservations" method="get">
            {{!-- Rut --}}
            <div class="form_group" id="rut2_group">
                <label class="form_label" for="rut">Rut</label>
                <div class="form_group_input">
                    <input type="text" class="form_input" id="rut2" name="rut2" placeholder="12345678-9">
                    <i class="validation_state fas fa-times-circle"></i>
                </div>
                <p class="form_input_error">Rut must be 9 digits long minimum and can only contain numbers a dash and the letter k </p>
            </div>
            {{!-- Message --}}
            <div class="form_message">
                <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> one or more fields are incomplete or incorrect, check them and try again</p>
            </div>     
               {{!-- Button --}}
            <div id="getReservations" class="form_group form_group_submit">
                <button type="submit" class="form_btn" id="getReservation" name="getReservation">Get reservations</button>
                <p class="form_success_message"></p>
            </div>
        </form>
    </section>
    {{>mainForm}}

    <section id="User_Reservation" class="table_container">
        <center><h2>Your reservations</h2></center>
        <table>
            <thead class="table_head">
                <th class="field_removable">ID</th>
                <th class="field_removable">Name</th>
                <th class="field_removable">Rut</th>
                <th>Date</th>
                <th>Time</th>
                <th class="field_removable">Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </section>
    <section id="user_reservations">
        <div class="reservation_link">
            <div class="subtitle_group" id="subtitle">
                <center><h2>¿Don't have a reservation? Take it here</h2></center>
            </div>
            <div class="check_reservations">
                <a class="link" href="./">Take reservation</a>
            </div>
        </div>
    </section>
</main>

<script type="module" src="js/reservationsPage.js"></script>
