<main id="Reservation_main">
    {{>title}}
    <section id="sub_title">
        <center><h2>Enter rut to see your reservation</h2></center>
    </section>
    <section id="Reservation_form">
        <form action="#" class="form_reservations" method="get">
            {{!-- Rut --}}
            <div class="form_group" id="rut2_group">
                <label class="form_label" for="rut">Rut</label>
                <div class="form_group_input">
                    <input type="text" class="form_input" id="rut2" name="rut2" placeholder="12345678-9">
                    <i class="validation_state fas fa-times-circle"></i>
                </div>
                <p class="form_input_error">Rut must be 9 digits long minimum and can only contain numbers a dash and the letter k </p>
            </div>
            {{!-- Message --}}
            <div class="form_message">
                <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> user does not exist, check inserted data and try again</p>
            </div>     
               {{!-- Button --}}
            <div id="getReservations" class="form_group form_group_submit">
                <button type="submit" class="form_btn" id="getReservation" name="getReservation">Get reservations</button>
                <p class="form_success_message"></p>
            </div>
        </form>
    </section>

    {{>mainForm}}

    <section id="User_Reservation" class="table_container">
        <center><h2>Your reservations</h2></center>
        <table>
            <thead class="table_head">
                <th class="field_removable">ID</th>
                <th class="field_removable">Name</th>
                <th class="field_removable">Rut</th>
                <th>Date</th>
                <th>Time</th>
                <th class="field_removable">Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </section>
</main>

<script type="module" src="js/reservationsPage.js"></script>
